body {
    background-color: black;
}
.poster {
    
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
    color: white;
}
h1 {
    text-transform: uppercase;
    font-size: 2rem;
}
.redeyebirds {
    border: 5px solid white;
    width: 100%;
}
  